---
layout: default
title: Recipe Archive
permalink: archive/
---

<div class="archive" id="archive">
  <h1 class="pageTitle">Recipe Archive</h1>
  <ul class="posts noList">
    {% for recipe in site.recipes %}
      <li>
        <h3><a class="post-link" href="{{ recipe.url | prepend: site.baseurl }}">{{ recipe.title }}</a></h3>
        <span>{% for ingredient in recipe.ingredients %}{{ ingredient.name }}{% unless forloop.last %}, {% endunless %}{% endfor %}</span><br />
        {% if recipe.source-url %}<span style="float: right">Source: <a href="{{ recipe.source-url }}">{{ recipe.source-name }}</a>{% endif %}</span><br />
      </li>
    {% endfor %}
  </ul>  
</div>
