---
layout: default
title: Cookbook Shelf
---

<div class="home" id="home">
  <h1 class="pageTitle">Recent Recipes</h1>
  <ul class="posts noList">
    {% for recipe in site.recipes reversed %}
      <li>
        <span class="date">{{ recipe.date | date: '%B %d, %Y' }}</span>
        <h3><a class="post-link" href="{{ recipe.url | prepend: site.baseurl }}">{{ recipe.title }}</a></h3>
        <p class="description">{% if recipe.description %}{{ recipe.description | strip_html | strip_newlines | truncate: 250 }}{% else %}{{ recipe.content | strip_html | strip_newlines | truncate: 250 }}{% endif %}</p>
      </li>
    {% endfor %}
  </ul>
</div>
