---
layout: default
---
<div class="post">
  {% if page.image %}
    <div class="featuredImage">
        <img src="{{ '/assets/img/' | prepend: site.baseurl | append: page.image }}" alt="" />
      </div>
  {% endif %}
  <h1 class="postTitle">{{ page.title }}</h1>
  <p class="meta">{{ page.date | date: '%B %d, %Y' }}</p>
  
  <section class="source">
    <p>Source: {% if page.source.url %}<a href="{{ page.source.url }}">{{ page.source.name }}</a>{% endif %}{% if page.source.book %}, {{ page.source.book }}{% if page.source.edition %} [{{ page.source.edition}}], {% endif %}{% if page.source.page %}, pg {{ page.source.page }}{% endif %}{% endif %}{% if page.source.author %}{{ page.source.author }}{% endif %}{% if page.source.site %}, {{ page.source.site }}{% endif %}</p>
     {% for book in site.cookbooks %}{% if page.source.book contains book.title %}<p>Local Cookbook: <a href="{{ book.url | prepend: site.baseurl }}">{{ book.title }}</a></p>{% endif %}{% endfor %}
  </section>
  
  
  {% if page.ingredients %}
  <section class="ingredients">
    <h2>Ingredients</h2>
    <ul>
        {% for ingredient in page.ingredients %}
        <li><span class="qty">{{ ingredient.qty }}</span><span class="measure">&nbsp;{{ ingredient.measure }}</span>&nbsp;<span class="name">{{ ingredient.name }}</span><span class="extended">, {{ ingredient.extended }}</span></li>
        {% endfor %}
    </ul>  
  </section>
  {% endif %}
  
  <section class="description">
  {{ content }}
  </section>
  
    <section class="amazon">
      <h3>Related on Amazon</h3>
<script type="text/javascript">
amzn_assoc_placement = "adunit0";
amzn_assoc_enable_interest_ads = "false";
amzn_assoc_tracking_id = "cookshel-20";
amzn_assoc_ad_mode = "auto";
amzn_assoc_ad_type = "smart";
amzn_assoc_marketplace = "amazon";
amzn_assoc_region = "US";
amzn_assoc_textlinks = "";
amzn_assoc_linkid = "334c37fc253a74284fa28a50b4e610da";
amzn_assoc_emphasize_categories = "1000,16310101,284507";
amzn_assoc_rows = "1";
amzn_assoc_fallback_mode = {"type":"search","value":"{{ page.title | truncatewords: 1 | append: 'recipe' }}"};
amzn_assoc_default_category = "Books";
</script>
<script src="//z-na.amazon-adsystem.com/widgets/onejs?MarketPlace=US"></script>
  </section>

  <!-- POST NAVIGATION -->
  <div class="postNav clearfix">
    {% if page.previous.url %} 
      <a class="prev{% if page.previous.image %} image{% endif %}" href="{{ page.previous.url | prepend: site.baseurl }}"><span>&laquo;&nbsp;{{ page.previous.title }}</span>
      {% if page.previous.image %} 
        <img src="{{ '/assets/img/' | prepend: site.baseurl | append: page.previous.image }}" alt="">
      {% endif %}
    </a>
    {% endif %}  
    {% if page.next.url %}  
      <a class="next{% if page.next.image %} image{% endif %}" href="{{ page.next.url | prepend: site.baseurl }}"><span>{{ page.next.title }}&nbsp;&raquo;</span>
      {% if page.next.image %} 
        <img src="{{ '/assets/img/' | prepend: site.baseurl | append: page.next.image }}" alt="">
      {% endif %} 
      </a>
    {% endif %} 
  </div>
</div>
